<footer class="usa-footer usa-footer--big">
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="padding-y-1">
          {% if meta_suffix %}
          <h2 class="usa-sr-only">Support links</h2>
            {% if meta_suffix %}
            <div>
              {{ meta_suffix | safe if meta_suffix else '' }}
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="usa-identifier site-identifier text-center">
    <section class="usa-identifier__section usa-identifier__section--usagov" aria-label="Copyright notice">
      <div class="usa-identifier__container margin-top-2">
        <div class="usa-identifier__usagov-description">
          © 2025 Flexion Inc. All rights reserved. Flexion® is a registered trademark of Flexion Inc. See our Privacy Policy.
        </div>
      </div>
    </section>
  </div>
</footer>
